$spacer: 2rem;
$spacer-small: 1rem;
$breakpoint-tablet: 768px;

.library-wrapper {
  padding: $spacer $spacer-small;
}

.pagination {
  margin: $spacer-small 0;
}

.navigation-dropdown {
  margin: $spacer-small 0;

  button {
    @media (min-width: $breakpoint-tablet) {
      margin-left: auto;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
